<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="53ee9a74-a0d5-4149-8249-7e4d06ecfb99"/>
    <add key="ClientSecret" value="wDFerpAkY0OLDzF75I/LWPoIQjF9uaD4GrxcF/Ps5cw="/>
    <add key="KeyVaultBaseUrl" value="https://neu-kvault-drs-ditest01.vault.azure.net/" />
  </appSettings>
</configuration>